4069
pinNb 14
componentsData
Not1 Standard NOT {1} {2}
Not2 Standard NOT {1} {2}
Not3 Standard NOT {1} {2}
Not4 Standard NOT {1} {2}
Not5 Standard NOT {1} {2}
Not6 Standard NOT {1} {2}
end
pinRefTable
1 Not1 1
2 Not1 2
3 Not2 1
4 Not2 2
5 Not3 1
6 Not3 2
8 Not4 2
9 Not4 1
10 Not5 2
11 Not5 1
12 Not6 2
13 Not6 1
end
